<tr>
    <td width="80%">
      <!-- <%= link_to(render_highlight_content(job,@query_string),job_path(job)) %> - -->
      <%= job.title %>
      <%= job.description %>
    </td>
    <td> <%= job.created_at.to_s(:short) %> </td>
  </tr>
