<div class="col-md-8 col-lg-offset-2">
          <div class="item_div">
        <table class="table table-borderd">
          <%= render :partial => "jobs/item", :collection => @jobs, :as => :job %>
        </table>
        <div class="text-center">
         <%= will_paginate @jobs %>
        </div>
      </div>
       </div>
