        <table class="table table-boldered table-striped custab" >
          <thead>
            <tr>
              <td>需求</td>
              <td>种类</td>
              <td>城市</td>
              <td>区域</td>
              <td>薪资下限</td>
              <td>薪资上限</td>
              <td>需求时间</td>
              <td>刊登时间</td>
            </tr>
          </thead>
          <tbody>
          <%= render :partial => "jobs/item", :collection => @jobs, :as => :job %>
          </tbody>
        </table>
        <div class="text-center">
            <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
